*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* main mesures */

body{
    background-color: rgba(20, 19, 24);;
    width: 512px;
}

main{
   overflow-y: auto;
    flex-grow: 1;
    float: right;
    
}

.main_wrapper{
    height: 100vh;
    flex-direction: column;
    overflow: auto;
    position: fixed;
    
}
.side_wrapper{
    background-color: rgba(28, 29, 34);
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    border-top-left-radius: 25%

    
}
/* side bar mesures */
.side_bar{
    width: 80px;
    background-color: rgba(20, 19, 24);
    flex-shrink: 1;

}
/* footer */

footer{
    height: 80px;
    background-color: rgba(45, 45, 53);
    flex-shrink: 0;
    border: 10px;
    
}
/* pictures info and mesures */

.pictures{
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 10px;
    img{
        width: 60px;
        margin-top: 10px;
    }
    
    
}
.round {
        border-radius: 50%;
        
    }

.pictures:nth-child(1)::after{
        content: '';
        background-color: rgb(255, 255, 255);
        width: 5px;
        height: 50px;
        position: absolute;
        top: 3.2%;
        left: 0%;
        translate: 0% 0%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;    
    }
/* main side */
    h1{
        color: white;
        padding: 2rem;
        font-weight: 600;
        font-family: "Tektur", sans-serif;
        text-shadow: 4px 4px black;
    }

.bi-search{
    color: white;
    margin-left: 45px;
    position: relative;
    z-index: 1;

    &.bi-search::after{
        content: '';
        background-color: rgba(55, 58, 67);
        width: 35px;
        height: 35px;
        position: absolute;
        bottom: 55%;
        right: 45%;
        translate: 50% 50%;
        z-index: -1;
        border-radius: 100%;


    }
    
}

div i{
    color: white;
    margin-left: 6rem;
    z-index: 1;
    position: relative;
}

.addfriends{
    
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 1;

}

.bi-person-fill-add::after{
         content: '';
        background-color: rgba(55, 58, 67);
        width: 300px;
        height: 30px;
        position: absolute;
        bottom: 52%;
        right: 10%;
        translate: 71% 50%;
        border-radius:15px;
        z-index: -1;
}
/* profiles&Chats */


.container{ 
  padding: 5px;
    margin: 20px;
    display: flex;
    

    width: 400px;
    .profiles{
        width: 60px;
        border-radius: 100%;
    }
    
}

.text{
    color: white;

}
.distl{
    margin-left: 1em;
    margin-top: 5px;
    width: 100%;
    display: flex;
        justify-content: space-between;
    .ender{
        display: flex;
        justify-self: end
    }

}

.innomine{
    width: 100%;
}

/* footer */
.footer_bar{
    display: flex;
    flex-direction: row;
    color: white;

    
}

.footer_description{
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.Footer_photo{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: relative;
    translate: 50% 50%;
    left: 8%;
    top: 0%;
}

.bi-houses-fill{
    font-size: 25px;
   position: relative;
   translate: 50% 5%;
   bottom: 10%;
   right: 45%;
   
   

}

.bi-bell-fill{
    font-size: 25px;
   position: relative;
   translate: 20% 50%;
   bottom: 30%;
   right: 40%;
   
}


.footer_info{
    display: flex;
    flex-direction: column;

    padding-left: 3rem;
    margin-top: 1rem;
}

.personal{
     font-size: 15px;
    text-align: center;
    margin-top: 2.5rem;
    margin-left: 2rem;
}

/* profile status color */
div.container{
    div.pics{
        .pallino{
            content: '';
            width: 20px;
            height: 20px;
            position: relative;

    
        }
    }
}
            .c1{
                background-color: red;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)

            }
            .c2{
                background-color: orange;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
            }
            .c3{background-color: orange;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)}
                .c4{
                    background-color: green;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c5{
                    background-color: red;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c6{
                    background-color: orange;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c7{
                    background-color: green;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c8{
                    background-color: red;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c9{
                    background-color: red;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c10{
                    background-color: green;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c11{
                    background-color: green;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c12{
                    background-color: orange;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }
                .c13{
                    background-color: orange;
                position: relative;
                translate: 50% 50%;
                bottom: 40%;
                left: 50%;
                border-radius: 100%;
                border: 4px solid rgba(28, 29, 34)
                }



